# ide files
.vscode/
.idea/
.vs/
.cache/

#common cmake build folders
out/
build/

#vcpkg manifest installation directory
vcpkg_installed

#Clang Command Database
compile_commands.json

# my test files
test_files/

# other
imgui.ini
config.cfg
