[submodule "lib/nfd"]
	path = lib/nfd
	url = https://github.com/mlabbe/nativefiledialog
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/cofyc/argparse
[submodule "lib/libui"]
	path = lib/libui
	url = https://github.com/andlabs/libui
