# ide files
.vscode/

#specifically visual studio
.vs/
.cache/

#common cmake build folders
out/
build/

#Clang Command Database
compile_commands.json

# my test files
test_files/

# other
imgui.ini
config.cfg
